:root {
  --primary-color: #003169;
  --secondary-color: #4270a1;
  --secondary-color-opacity: #4270a188;
  --bg-color: #09090b;
  --bg-color2: #18181b;
  --text-color: #fafafa;
  --footer-color: #000000;
  --text-color2: #71717a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fafafa;
}

body {
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  flex: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Foto de perfil do GitHub */

.profile-image {
  width: 10rem;
  height: auto;
  border-radius: 100%;
  border: 0.2rem solid var(--primary-color);
}

/* Footer */

footer {
  display: flex;
  justify-content: end;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--footer-color);
}

footer .profile-image {
  width: 3rem;
  opacity: 0.5;
}

footer p {
  color: var(--bg-color2);
}

footer svg {
  fill: var(--bg-color2);
}
